.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: calc(10px + 1.6vmin);
  color: var(--text-color);
}

.App-icon {
  width: calc(10px + 1.6vmin);
  height: fit-content;
  pointer-events: none;
}

@mixin outline($color) {
  $shadow: 0px 0px 1px $color;
  text-shadow: $shadow, $shadow, $shadow, $shadow, $shadow, $shadow;
}

.App-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  height: fit-content;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    background: var(--text-color);
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 1rem;
    margin: auto;

    transition: width 0.3s ease-out, background 0.3s ease-out;
  }

  &:hover::after {
    width: calc(100% - 1.6rem);
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }
}

.App-signature {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: auto;
  width: fit-content;
  font-size: 12px;
  opacity: 0.2;
  transition: opacity 0.3s ease-out, color 0.3s ease-out;

  &:hover {
    opacity: 1;
  }
}
