@font-face {
  font-family: "BrandFont";
  src: local("BrandFont"),
   url("./back-light-hind-siliguri-regular.ttf") format("truetype");
  font-weight: bold;
 }

body {
  margin: 0;
  font-family: "BrandFont", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
